.form {
    width: 95%;
    margin: auto;
    padding: 4rem 2rem;
}

h1 {
    text-align: center;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 4rem;
} 

.full-width {
    width: 100%;
    margin-bottom: 1rem;
}

button {
    width: 100%;
    margin-bottom: 1rem;
}

.mat-form-field-appearance-fill {
    width: 100%;
}