<form class="form mat-elevation-z8">
  <h1>Cadastrar Aluno</h1>
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Nome</mat-label>
    <input [(ngModel)]="aluno.nome" [formControl]="nome" required name="nome" maxlength="100" matInput
      placeholder="Ex. João Borges">
    <mat-error *ngIf="nome.invalid">{{ errorValidNome() }}</mat-error>
  </mat-form-field>

  <!--<mat-form-field class="full-width" appearance="outline">
  <mat-label>Data de Nascimento</mat-label>
  <input [(ngModel)]="aluno.nascimento" [ngModelOptions]="{standalone: true}"  required name="nascimento" matInput [matDatepicker]="picker">
  <mat-error *ngIf="nascimento.invalid">{{  errorValidNascimento() }}</mat-error>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Selecione o Genero</mat-label>
    <mat-select [(ngModel)]="aluno.sexo" [formControl]="sexo" required name="sexo" required name="sexo" >
      <mat-option value="masculino">Masculino</mat-option>
      <mat-option value="feminino">Feminino</mat-option>
    </mat-select>
    <mat-error *ngIf="sexo.invalid">{{  errorValidSexo() }}</mat-error>
  </mat-form-field> 

  <mat-form-field class="full-width" appearance="outline">
      <mat-label>CPF</mat-label>
      <input [(ngModel)]="aluno.cpf" [formControl]="cpf" required name="cpf" maxlength="15" matInput placeholder="000.000.000-00">
      <mat-error *ngIf="cpf.invalid">{{ errorValidCPF() }}</mat-error>
    </mat-form-field>
    
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>RG</mat-label>
      <input [(ngModel)]="aluno.rg" [formControl]="rg" required name="rg" maxlength="15" matInput placeholder="00.000.000">
     <mat-error *ngIf="rg.invalid">{{ errorValidRG() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Responsavel</mat-label>
      <input [(ngModel)]="aluno.responsavel" [formControl]="responsavel" required name="responsavel" maxlength="100" matInput placeholder="Ex. João Borges">
      <mat-error *ngIf="responsavel.invalid">{{ errorValidNome() }}</mat-error>
    </mat-form-field>

  <mat-form-field class="full-width"appearance="outline">
      <mat-label>Telefone</mat-label>
      <input [(ngModel)]="aluno.telefone" [formControl]="telefone" required name="telefone" maxlength="18" matInput placeholder="(00) 90000-0000">
      <mat-error *ngIf="telefone.invalid">{{ errorValidTelefone() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Endereço</mat-label>
      <input [(ngModel)]="aluno.endereco" [formControl]="endereco" required name="endereco" maxlength="500" matInput placeholder="Ex. Rua: São Paulo">
      <mat-error *ngIf="endereco.invalid">{{ errorValidEndereco() }}</mat-error>
    </mat-form-field>
    
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Selecione o Zona</mat-label>
      <mat-select [(ngModel)]="aluno.zona" [formControl]="zona" required name="zona" required name="zona" >
        <mat-option value="urbana">Urbana</mat-option>
        <mat-option value="rural">Rural</mat-option>
      </mat-select>
      <mat-error *ngIf="zona.invalid">{{  errorValidSexo() }}</mat-error>
    </mat-form-field>-->

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Selecione um Sala Turma </mat-label>
    <mat-select [(ngModel)]="aluno.turma" name="tecnico" [formControl]="turma" required>
      <mat-option *ngFor="let tur of turmas" value="{{ tur.id }}">{{ tur.nomeSerieNivelSubnivel }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="menuzao">
    <button class=" menu mat-elevation-z8" (click)="create()" mat-raised-button id="add">CADASTRAR</button>
    <button class=" menu mat-elevation-z8" (click)="cancel()" mat-raised-button color="warn">CANCELAR</button>

  </div>
</form>