  .create h1 {
    text-align: center;
    font-size: 2rem;
  }
    
  .container {
    width: 98%;
    overflow: auto;
    margin-right: auto;
    margin-left: auto;
  }

  table.mat-table {
    width: 90%;
  }
  
  
  th.mat-header-cell {
    padding: 0px 03px;
    text-align: center;
  }

  td.mat-cell {
    padding: 0px 10px;
    text-align: center;
  }


  #editar {
    color: rgb(243, 185, 38);
  }
  
  #delete {
    color: rgb(223, 80, 80);
  }

  #view {
    color: rgb(22, 25, 196);
  }

  #add {
    color: rgb(11, 136, 22);
  }

  .menu{
    flex-wrap: wrap;
    display: inline-block;
    margin: 1rem;
  }
  
  .menuzao{   
    margin-top: 2rem;
    text-align:  left;
  }