

<mat-card class="home mat-elevation-z8">
    <mat-card-header> 
        <mat-card-title>DIÁRIO DE CLASSE</mat-card-title>
        <mat-card-subtitle>Sistema Web para auxiliar os professores nas atividades pedagogicas.
        </mat-card-subtitle>
        <mat-card-subtitle class="texto2">
            "Se não fosse imperador, desejaria ser professor. Não conheço missão maior e mais nobre que a de dirigir as inteligências jovens e preparar os homens do futuro."
            (D. Pedro II)
        </mat-card-subtitle>
        <img src="assets/img/imgHome.svg" alt="">
    </mat-card-header>
    
</mat-card>
<section>
    <main class="container">
        <router-outlet></router-outlet>
    </main>
</section>




