mat-card {
    width: 80%;
    height: 50%;
    margin: 1rem auto 0 auto;
}

img {
    width: 90%;
    height: 20rem;
    margin: .8rem;
 }

.texto2 {
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-overflow: clip;
}

@media( max-width: 360px){
    .home{
        width: 70;
    }
}

@media( max-width: 770px){
    .home{
        width: 90%;
    }
}
