<form class="form mat-elevation-z8">
  <h1>Excluir Professor</h1>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Nome</mat-label>
    <input [(ngModel)]="prof.nome" disabled name="nome" type="text" matInput placeholder="Ex. João Borges">
  </mat-form-field>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>E-mail</mat-label>
    <input [(ngModel)]="prof.email" disabled name="email" type="text" matInput placeholder="Ex.. fulano@mail.com">
    <mat-icon matSuffix>email</mat-icon>
  </mat-form-field>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Senha</mat-label>
    <input [(ngModel)]="prof.senha" disabled name="senha" type="password" matInput placeholder="Ex.. 1234">
    <mat-icon matSuffix>password</mat-icon>
  </mat-form-field>

  <div class="menuzao">
    <button class="menu mat-elevation-z8" (click)="delete()" mat-raised-button id="add">EXCLUIR</button>
    <button class="menu mat-elevation-z8" (click)="cancel()" mat-raised-button color="warn">CANCELAR</button>
  </div>
</form>