<div class="menuzao">
    
    <h1>Turma</h1>

    <div class="menu">
        <button  class="full-width mat-elevation-z4" (click)="navigatePainelProfessor()" mat-stroked-button  color="warn">
            <i class="material-icons">reply</i> VOLTAR 
        </button>
    </div>

    <div class="menu">
        <button (click)="navigateAula()" class="full-width mat-elevation-z4" mat-stroked-button  color="primary">
            <i class="material-icons">library_books</i> AULAS 
        </button>
    </div>
    
    <div class="menu">
        <button (click)="navigateAtividade()" class="full-width mat-elevation-z4" mat-stroked-button  color="primary">
            <i class="material-icons">card_travel</i> ATIVIDADES
        </button>
    </div>
    
    <div class="menu">
        <button (click)="navigateFrequencia()" class="full-width mat-elevation-z4" mat-stroked-button  color="primary">
            <i class="material-icons">perm_contact_calendar</i> FREQUÊNCIA
        </button>
    </div>  
    
    <div class="menu">
        <button (click)="navigateNota()" class="full-width mat-elevation-z4" mat-stroked-button  color="primary">
            <i class="material-icons">checklist_rtl</i> NOTAS
        </button>
    </div>
    
</div>

