<form class="form mat-elevation-z8">
  <h1>Deletar Disciplina</h1>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Disciplina</mat-label>
    <input [(ngModel)]="disciplina.nome" disabled name="nome" matInput>
  </mat-form-field>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Ementa</mat-label>
    <input [(ngModel)]="disciplina.ementa" disabled name="ementa" matInput>
  </mat-form-field>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>SERIE: {{disciplina.nomeSerieNivelSubnivel}} </mat-label>
    <mat-select [(ngModel)]="disciplina.serieNivelSubnivel" name="serieNivelSubnivel" disabled>
      <mat-option *ngFor="let serie of series" value="{{ serie.id }}">{{ serie.descricao }}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="menuzao">
    <button class="menu mat-elevation-z8" (click)="delete()" mat-raised-button id="add">DELETAR</button>
    <button class="menu mat-elevation-z8" (click)="cancel()" mat-raised-button color="warn">CANCELAR</button>
  </div>
</form>