<form class="form mat-elevation-z8">
  <h1>Excluir Aula</h1>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Data</mat-label>
    <input disabled [(ngModel)]="aulas.data" [ngModelOptions]="{standalone: true}" required name="nascimento" matInput
      [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Hora Inicio</mat-label>
    <input disabled [(ngModel)]="aulas.horaInicio" required name="horaInicio" type="time" matInput>
  </mat-form-field>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Hora Fim</mat-label>
    <input disabled [(ngModel)]="aulas.horaFim" required name="horaFim" type="time" matInput>
  </mat-form-field>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>DISCIPLINA: {{aulas.nomeDisciplina}}</mat-label>
    <mat-select [(ngModel)]="aulas.disciplina" name="tecnico" required>
      <mat-option *ngFor="let disc of discs" value="{{ disc.id }}">{{ disc.nomeDisciplina }}</mat-option>
    </mat-select>
  </mat-form-field>

  <form class="full-width">
    <mat-form-field class="full-width">
      <mat-label>Adicione o conteúdo</mat-label>
      <textarea disabled [(ngModel)]="aulas.conteudo" name="conteudo" matInput maxlength="255" required></textarea>
    </mat-form-field>
  </form>

  <div class="menuzao">
    <button class="menu mat-elevation-z8" (click)="delete()" mat-raised-button id="add">EXCLUIR</button>
    <button class="menu mat-elevation-z8" (click)="cancel()" mat-raised-button color="warn">CANCELAR</button>
  </div>
</form>