<form class="form mat-elevation-z8">
  <h1>Registrar Aula</h1>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Data</mat-label>
    <input [(ngModel)]="aulas.data" [ngModelOptions]="{standalone: true}" required name="nascimento" matInput
      [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Hora Inicio</mat-label>
    <input [(ngModel)]="aulas.horaInicio" required name="horaInicio" type="time" matInput>
  </mat-form-field>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Hora Fim</mat-label>
    <input [(ngModel)]="aulas.horaFim" required name="horaFim" type="time" matInput>
  </mat-form-field>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Selecione o Disciplina</mat-label>
    <mat-select [(ngModel)]="aulas.disciplina" name="tecnico" required>
      <mat-option *ngFor="let disc of discs" value="{{ disc.id }}">{{ disc.nomeDisciplina }}</mat-option>
    </mat-select>
  </mat-form-field>

  <form class="full-width">
    <mat-form-field class="full-width">
      <mat-label>Adicione o conteúdo</mat-label>
      <textarea [(ngModel)]="aulas.conteudo" name="conteudo" matInput maxlength="255" required></textarea>
    </mat-form-field>
  </form>
  <div class="menuzao">
    <button class=" menu mat-elevation-z8" (click)="create()" mat-raised-button id="add">REGISTRAR</button>
    <button class=" menu mat-elevation-z8" (click)="cancel()" mat-raised-button color="warn">CANCELAR</button>
  </div>
</form>