<div class="container">
    <mat-card class="home mat-elevation-z8">
        <div class="title">
            <i class="material-icons">book</i> DIÁRIOS
        </div>
        <span *ngFor="let item of disciplinas">
            <mat-card class=" cardTurma mat-elevation-z8">
                <mat-card-header>
                    <mat-card-title>Turma: {{ item.descricaoTurma }}</mat-card-title>
                    <mat-card-title>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Selecione uma Disciplina</mat-label>
                            <mat-select [(ngModel)]="disciplinaProfessor.disciplina" name="descricaoTurma" required>
                                <mat-option *ngFor="let disciplina of disciplinas" value="{{ disciplina.id }}">{{ disciplina.nomeDisciplina }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-card-title>
                </mat-card-header>
                <button class="full-width mat-elevation-z4" (click)="navigateTurmaAlunos()" mat-raised-button
                    color="primary">ENTRAR</button>
            </mat-card>
        </span>
    </mat-card>
</div>