.create {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  
  .create h1 {
    text-align: center;
    font-size: 2rem;
  }
  
  .create button {
    width: 100%;
    margin: 1rem auto;
    border-radius: 1rem;
  }
  
  .container {
    width: 95%;
    overflow: auto;
    margin-right: auto;
    margin-left: auto;
  }

  table.mat-table {
    width: 95%;
  }
  
  th.mat-header-cell {
    padding: 0px 03px;
    text-align: center;
  }

  td.mat-cell {
    padding: 0px 10px;
    text-align: center;
  }

  #editar {
    color: rgb(243, 185, 38);
  }
  
  #delete {
    color: rgb(223, 80, 80);
  }